In [1]:
import pandas as pd

In [17]:
data = {
    '1' : [1, 2, 3],
    '2' : [4, 5, 6],
    '3' : [7, 8, 9]
}
dt=pd.DataFrame(data)
a=dict(dt)
print(a)
dt2=pd.DataFrame(a)
dt2.head()

{'1': 0    1
1    2
2    3
Name: 1, dtype: int64, '2': 0    4
1    5
2    6
Name: 2, dtype: int64, '3': 0    7
1    8
2    9
Name: 3, dtype: int64}

   1  2  3
0  1  4  7
1  2  5  8
2  3  6  9

In [28]:
b=None
b==print('bubibu')

bubibu

True

In [34]:
def pl(x):
    return print(x+3)
b=pl(4)
type(b)

7

NoneType